<layout name="layout"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Admin/index/index')}">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="javascript:void(0)">书籍管理</a><span class="crumb-step">&gt;</span><span>书籍修改</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="{:U('Admin/books/editbook')}" method="post"  enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                        <volist name="book" id="b">
                            <tr>
                            <input type="hidden" name="bid" value="{$b.bid}">
                                <th><i class="require-red">*</i>图书名称：</th>
                                <td>
                                    <input class="common-text required" required="required" name="bname" value="{$b.bname}" size="50" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>作者：</th><td><input name="bauthor" type="text" required="required" value="{$b.bauthor}" size="50"></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>分类：</th>
                                <td>
                                    <input class="common-text required" required="required" name="btype" value="{$b.btype}" size="50" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>出版社：</th><td><input name="bpress" required="required" type="text" value="{$b.bpress}" size="50"></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>出版时间：</th><td><input name="bpress" required="required" type="data" value="{$b.btime}" size="50"></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>图书缩略图：</th>
                                <td>
                                    <img src="__PUBLIC__/home/images/bookPhoto/{$b.bphoto}" height="120px" width="100px" />
                                    <br/>
                                    <input name="bimage" type="file" value="{$b.bphoto}"></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>字数:</th><td><input name="bnum" type="number" required="required" value="{$b.bnumword}" style="width:80px">万</td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>分数:</th><td><input name="bscore" type="number" required="required" min="1" max="5" value="{$b.bscore}" style="width:80px">分</td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>图书介绍：</th>
                                <td><textarea name="bintroduction" class="common-textarea" cols="10" style="width: 98%;" rows="4">{$b.bintroduction}</textarea></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit" multiple>
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </volist>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
