<layout name="layout" />
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Admin/index/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">书架管理</span></div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>用户</th>
                            <th>书名</th>
                            <th>作者</th>
                            <th>类型</th>
                            <th>时间</th>
                            <th>操作</th>
                        </tr>
                        <volist name="shelf" id="s">
                        <tr>
                            <td>{$s.username}</td>
                            <td>{$s.bname}</td>
                            <td>{$s.bauthor}</td>
                            <td>{$s.btype}</td>
                            <td>{$s.stime}</td>
                            <td>
                                <a class="link-del" href="javascript:void(0);" name='{$s.bid},{$s.username}'>删除</a>
                            </td>
                        </tr>
                        </volist>
                    </table>
                    <div class="list-page">{$page}</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
<script type="text/javascript">
    $(".link-del").click(function(){
        $delshelf="{:U('Admin/Shelf/delshelf')}";
        $info=$(this).attr("name").split(",");
        $that=$(this).parent().parent();
        $data={
            "bid":$info[0],
            "username":$info[1]
        };
        $.post($delshelf,$data,function(msg){
            if(msg==1){
                $that.remove();
            }else{
                alert("删除失败了");
            }
        },'json');
    })
</script>
</html>