<layout name="layout" />
<title>图书列表</title>
	<section id="content">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<ul class="list-group">
						<li class="list-group-item"><a href="{:U('Home/Index/booklist')}/id/名著"><span class="glyphicon glyphicon-align-left"></span>&nbsp;&nbsp;经&nbsp;典&nbsp;名&nbsp;著</a></li>
						<li class="list-group-item"><a href="{:U('Home/Index/booklist')}/id/文学"><span class="glyphicon glyphicon-align-left"></span>&nbsp;&nbsp;经&nbsp;典&nbsp;文&nbsp;学</a></li>
						<li class="list-group-item"><a href="{:U('Home/Index/booklist')}/id/诗词"><span class="glyphicon glyphicon-align-left"></span>&nbsp;&nbsp;诗&nbsp;词&nbsp;文&nbsp;学</a></li>
						<li class="list-group-item"><a href="{:U('Home/Index/booklist')}/id/曲艺"><span class="glyphicon glyphicon-align-left"></span>&nbsp;&nbsp;曲&nbsp;艺&nbsp;文&nbsp;学</a></li>
						<li class="list-group-item"><a href="{:U('Home/Index/booklist')}/id/儒家"><span class="glyphicon glyphicon-align-left"></span>&nbsp;&nbsp;儒&nbsp;家&nbsp;哲&nbsp;学</a></li>
						<li class="list-group-item"><a href="{:U('Home/Index/booklist')}/id/道家"><span class="glyphicon glyphicon-align-left"></span>&nbsp;&nbsp;道&nbsp;家&nbsp;哲&nbsp;学</a></li>
						<li class="list-group-item"><a href="{:U('Home/Index/booklist')}/id/法家"><span class="glyphicon glyphicon-align-left"></span>&nbsp;&nbsp;法&nbsp;家&nbsp;哲&nbsp;学</a></li>
						<li class="list-group-item"><a href="{:U('Home/Index/booklist')}/id/佛家"><span class="glyphicon glyphicon-align-left"></span>&nbsp;&nbsp;佛&nbsp;家&nbsp;哲&nbsp;学</a></li>
						<li class="list-group-item"><a href="{:U('Home/Index/booklist')}/id/小说"><span class="glyphicon glyphicon-align-left"></span>&nbsp;&nbsp;古&nbsp;典&nbsp;小&nbsp;说</a></li>
						<li class="list-group-item"><a href="{:U('Home/Index/booklist')}/id/艺术"><span class="glyphicon glyphicon-align-left"></span>&nbsp;&nbsp;古&nbsp;典&nbsp;艺&nbsp;术</a></li>
					</ul>
				</div>
				<div class="col-md-9">
					<div class="photo">
						<img src="__PUBLIC__/home/images/guoxue.png">
					</div>
					<h3><span class="glyphicon glyphicon-gift"></span>&nbsp;书籍总览</h3>
					<table class="table table-hover table-striped wow fadeInRight">
						<thead>
							<tr>
								<th>序号</th>
								<th>书名</th>
								<th>出版社</th>
								<th>字数</th>
								<th>更新时间</th>	
							</tr>
						</thead>
						<tbody>
							<volist name="book" id="b">
								<tr>
									<td>{$i}</td>
									<td>
										<a href="{:U('Home/Index/content')}/id/{$b.bid}">{$b.bname}</a>
										<p>作者：<span>{$b.bauthor}</span></p>
									</td>
									<td>{$b.bpress}</td>
									<td>{$b.bnumword}万</td>
									<td>{$b.btime}</td>	
								</tr>
							</volist>
						</tbody>
					</table>	
					{$page}
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript" src="__PUBLIC__/home/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/wow.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/myslider.js"></script>
<script type="text/javascript">
	if({$i}==0){
		$("tbody").append(" <tr><td colspan='5'>对不起，暂时还没有此类书籍！！！</td></tr>");
	}
</script>
</html>