<layout name="layout" />
<title>网站介绍</title>
	<section id="content">
		<div class="container">
			<div id="subject" class="row">
				<div class="col-md-3 wow bounceInLeft">
					<ul class="list-group">
						<li class="list-group-item active"><a href="" data-toggle="tab"><span class="glyphicon glyphicon-align-left"></span>&nbsp;关于读书</a></li></li>
						<li class="list-group-item"><a href="" data-toggle="tab"><span class="glyphicon glyphicon-align-left"></span>&nbsp;免责声明</a></li>
						<li class="list-group-item"><a href="" data-toggle="tab"><span class="glyphicon glyphicon-align-left"></span>&nbsp;相关法律</a></li>
						<li class="list-group-item"><a href="" data-toggle="tab"><span class="glyphicon glyphicon-align-left"></span>&nbsp;联系我们</a></li>
					</ul>
				</div>
				<div class="col-md-9 wow bounceInRight">
				  <div class="read wow bounceInUp">
				    <h3>关于读书</h3>
				    <p>我们的服务：</p>
						<p>1、图书搜索：我们提供专业的图书搜索服务，涵盖300余万种已出版的各类图书，方便用户查找书目信息。</p>
						<p>2、价格比较：在这里，您可以查到同一本书在不同网上书店的报价，为您找到最低价格。如果您点击订购，则会直接跳转到相应书店的相关图书页面，并完成订购。</p>
						<p>3、资讯平台：发布每天发生在全国图书行业内的重要新闻，动态信息以及与图书相关的各类资讯，为图书业内人士以及普通读者提供一个了解图书信息的资讯平台。</p>
						<p>4、营销平台：通过图书搜索、图书连载、读书推荐、新书快讯、行业资讯、书摘文摘等栏目，为各出版社、图书公司提供一个直接面对有效用户的新书营销发行、品牌推广的专业图书营销平台。</p>
						<p>5、读者互动：通过读书论坛以及书评等栏目，方便读者以及业内人士之间的交流和互动，为爱书人提供一个互相交流学习的平台，同时也希望能共同促进图书行业的发展。</p>
						<p>欢迎各出版社、图书公司、书店与我们合作，携手共进！</p>
				  </div>
				  <div class="read wow bounceInUp" style="display: none;">
				    <h3>免责声明</h3>
				    <p>任何使用本网站的用户均应仔细阅读本声明，用户可选择不使用本网站，用户使用本网站的行为将被视为对本声明全部内容的认可。</p>
				    <p>在此特别声明对如下事宜不承担任何法律责任：</p>
				    <p>一、本网站对信息的准确性、完整性、合法性或真实性均不承担任何责任。此外，对任何使用或提供本网站信息的商业活动及其风险不承担任何责任。</p>
				    <p>二、本站所列的图书资料、图书封面图片等归各自的版权所有人所有。</p>
				    <p>三、在此声明，对您使用网站、与本网站相关的任何内容、服务或其它链接至本网站的站点、内容均不作直接、间接、法定、约定的保证。</p>
				    <p>四、任何网站如果不想被收录，应该及时向反映，否则，将视其为可收录网站。</p>
				    <p>五、任何通过使用本网站而搜索链接到的提供电子书阅读或者购买图书的第三方网页均系他人制作或提供，您可能从该第三方网页上获得资讯及享用服务，本网站对其合法性概不负责，亦不承担任何法律责任。</p>
				    <p>六、任何单位或个人认为通过本网站链接到的第三方网页内容可能涉嫌侵犯其信息网络传播权，应该及时向提出书面权利通知，并提供身份证明、权属证明及详细侵权情况证明。在收到上述法律文件后，将会依法尽快断开相关链接内容。</p>
				    <p>本声明未涉及的问题参见国家有关法律法规，当本声明与国家法律法规冲突时，以国家法律法规为准。</p>
				  </div>  
				  <div class="read wow bounceInUp" style="display: none;">
				    <h3>相关法律</h3>
				    <p>事物在一般发展过程中，既受到内部因素的影响，又受到外部因素的制约。虽然内部因素起主要作用，但在某些时候，外部因素的改变，对一个事物的发展方向起着决定性影响。电子书行业的发展固然有其内在的规律，但作为社会环境的一个有机组成部分，法律与政策变化等外在因素对其影响很大，在某些时候这种影响甚至是决定性的。例如，一项法规的出台或变化，直接导致电子书行业某些行为被限制或禁止。</p>
				    <p>电子书作为一种传播媒介，在美国，其主要管制机构是1927年成立的美国联邦通讯委员会，即FCC。FCC的委员由总统任命，参议院批评，任期为五年，且禁止三个以上的成员来自同一政党。FCC的预算由国会控制，其委员的任期也互相交错，以杜绝有两人在同一年内任满的可能。FCC分别为媒体局、国际局和电缆竞争局等六个局组成，并执行不同的功能。另外，1914年建立的美国联邦贸易委员会（FTC）——由五个由主席任命的委员，且任何三名委员不得属于同一政党，下属有竞争管理局、经济管理局和消费者保护局——初始主要负责对不公平竞争的管理，但后来权利扩大到对广告的管制——它虽然不能对一些媒介直接处以罚款，但可以发布广告终止令；它也和公平就业委员会——该委员会旨在负责消除基于信仰、性别、种族或国籍的就业歧视——一道对广播电视等传统媒介和电子书等新媒介机构的许可证是否可以获得和保留进行管理。另外，美国司法部负责受理因电子书纠纷等所产生的法律诉讼。</p>
				    <p>电子出版物以及各种信息媒体的企画、编辑、制作的从事者为解决所面临的问题，拓展将的发展，特进行以下活动，以期实现出版界以及信息产业界的健康发。”作为全球唯一专门性的电子出版协会，它在日本的电子出版产业发展道路上扮演着举足轻重的角色，并对日本的电子出版产生了重要影响。JEPA创始时仅为43名会员，但现今已发展为200名左右，其组成包括电子出版社、电子产品制造商、软件公司及其他相关部门。JEPA的职能包括以下数个方面，即在国内外相关行业与部门之间收集与交换信息、通过加强会员之间的合作等方式来促进下属会员的发展、促进电子出版版权的合作与侵权问题的解决、统筹规划电子出版新产品的研发及硬件标准的制定、研究电子出版的营销结构、制定行业纪律或能达到本协会目的的各种方案等。为确保这些职能的发挥，JEPA下设版权委员会、管理委员会、公共关系委员会等机构，也会在特殊时期成立专门小组或特殊部门来确保效果的实现。</p>
				  </div>
				  <div class="read wow bounceInUp" style="display: none;">
				    <h3>联系我们</h3>
				    <p>欢迎各大出版社、图书公司、图书馆、网上书店、作者与我们联系合作，联系方式如下：</p>
				    <p>投稿邮件：email2.png</p>
				    <p>建议或意见：email3.png</p>
				    <p>QQ：362536</p>
				    <p>电话：7832463828</p>
				  </div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript" src="__PUBLIC__/home/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/wow.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/myslider.js"></script>
<script type="text/javascript">
	var url = this.location.pathname;
	var items=$(".list-group-item");
	var reads=$("#subject .read")
	if(url.indexOf("readbook")>0){
		items.eq(0).addClass("active").siblings().removeClass("active");
		reads.eq(0).show().siblings().hide();
	}
	if(url.indexOf("statement")>0){
		items.eq(1).addClass("active").siblings().removeClass("active");
		reads.eq(1).show().siblings().hide();
	}
	if(url.indexOf("law")>0){
		items.eq(2).addClass("active").siblings().removeClass("active");
		reads.eq(2).show().siblings().hide();
	}
	if(url.indexOf("contact")>0){
		items.eq(3).addClass("active").siblings().removeClass("active");
		reads.eq(3).show().siblings().hide();
	}
</script>
</html>